@font-face {
  font-family: 'MyFont';
  src:  url('./font.ttf') format('truetype');
}

.fontcolor {
  color: red;
}

.newfont {
  font-family: MyFont;
}

.icon {
  background: url('./icon.png');
  width: 257px;
  height: 144px;
}